@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-md">
    <div class="row vh-100 d-flex justify-content-center">
        <div class="col-12 align-self-center">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 auth-header-box">
                                <div class="text-center p-3">
                                    <p class="text-muted  mb-0">Sign in to continue.</p>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <form class="my-4" id="account" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group mb-2">
                                        <label asp-for="Input.UserName">User Name</label>
                                        <input asp-for="Input.UserName" class="form-control" />
                                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Input.Password">Password</label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Login <i class="fas fa-sign-in-alt ms-1"></i></button>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <a class="btn btn-dark" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
